.footer {
  background-color: black;
}

.footer .top-row {
  max-width: 1200px;
  padding-left: min(50px, 5%);
  padding-right: min(50px, 5%);
  padding-top: min(50px, 5%);
}

.footer a {
  text-decoration: none;
}

.z-front {
  z-index: 2;
}

.footer .image-icon {
  width: calc(var(--screen-width-factor) * 45px);
  height: calc(var(--screen-width-factor) * 45px);
  filter: invert(1);
}

.footer .corp-logo {
  width: calc(var(--screen-width-factor) * 30px);
  height: calc(var(--screen-width-factor) * 30px);
  position: relative;
  z-index: 2;

  /* IE6-9 */
  filter: gray;
  /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
  filter: grayscale(1);
}

.footer .corp-logo:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.footer .background-image {
  z-index: 1;
  object-fit: contain;
  filter: opacity(.17);
}