:root {
  --bg-primary-color: #DE5804;
  --bg-secondary-color: #0D101D;
  --bg-secondary-color-gradient: linear-gradient(to right, #0A0D1A, #282B35);
  --bg-card-blue: #141827;
  --bg-btn-green: #089B46;
}

main {
  background-image: var(--bg-secondary-color-gradient);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  :root {
    --screen-width-factor: .75;
  }

  .card-img-top {
    height: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up). Bootstrap md breakpoint*/
@media only screen and (min-width: 768px) {
  :root {
    --screen-width-factor: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up). Bootstrap lg breakpoint*/
@media only screen and (min-width: 992px) {
  :root {
    --screen-width-factor: 1.3;
  }
}