.map-container {
  height: 800px;
  width: 1000px;
    max-width: 75%;
  }
  
.location .image-icon {
  width: calc(var(--screen-width-factor) * 45px);
  height: calc(var(--screen-width-factor) * 45px);
  filter: invert(1);
}