.map-container {
  height: 800px;
  width: 1000px;
    max-width: 90%;
  }
  
.location .image-icon {
  width: calc(var(--screen-width-factor) * 45px);
  height: calc(var(--screen-width-factor) * 45px);
  filter: invert(1);
}
.location .info-box {
  border: solid var(--bg-primary-color) 2px;
}