.address {
  letter-spacing: .04em;
}

.phone-number {
  letter-spacing: .07em;
}

.center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.header-top {
  background-color: #303030;
  text-align: center;
}

.header-top a {
  text-decoration: none;
}

.header-top .icon-image {
  filter: invert(1);
}

.navbar {
  background-image: var(--bg-secondary-color-gradient);
}

.navbar .text-col {
  margin-top: 3%;
}

.navbar-nav .nav-item {
  font-size: calc(var(--screen-width-factor) * 1.3em);
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--bg-primary-color);
}

.logo {
  padding-left: 3%;
}

.logo img {
  width: max(calc(var(--screen-width-factor) * 50px), 50px);
  height: max(calc(var(--screen-width-factor) * 50px), 50px);
}

.logo .text {
  color: var(--bg-primary-color) !important;
  font-size: max(calc(var(--screen-width-factor) * 1.3em), 1.3em);
}

.logo .text-dave {
  font-size: max(calc(var(--screen-width-factor) * .9em), .9em);
}

.slide-body-navbar {
  height: 2px;
}