.services .splash {
  background-color: var(--bg-secondary-color);
}

.services .splash img {
  filter: opacity(.1);
  object-fit: cover;
}

.services .splash-text {
  max-width: 1000px;
}

.card-img-container {
  height: fit-content;
}